default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: postgres
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: ycrompinator_development
  host: localhost
  port: 5432

test:
  <<: *default
  database: ycrompinator_test

production:
  <<: *default
  database: ycrompinator_production
  username: ycrompinator
  password: <%= ENV["YCROMPINATOR_DATABASE_PASSWORD"] %>
